body {
  background-image: url("../images/star_chart.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}
