body {
  background: radial-gradient(circle, transparent 65%, 70%, black), url("../images/star_chart.png");
	/*background-image: url("../images/star_chart.png");*/
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
	color: white;
}

header{
  background: radial-gradient(ellipse 60% 12% at 50% 3em, transparent 40%, 50%, black), url("../images/milky_way1.png");  
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  position: fixed;
  width: 100%;
  height: 7em;
  top: 0em;
  z-index: 1;
  text-align: center;
}

header h1 {
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#main-nav {
  float: left;
  width: 100%;
  top: 5.25em;
  background: radial-gradient(ellipse 80% 4em at 50% 6.25em, transparent 100%, 0%, black), radial-gradient(ellipse 80% 4em at 50% 6.25em, transparent 60%, black);
  background-color: transparent;
  position: fixed;
  z-index: 2;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

#main-nav ul li a {
  padding: 1em 2.5em;
  display: block;
  text-decoration: none;
  color: #ccc;
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}

#main-content {
  position: relative;
  top: 7em;
  padding-bottom: 7em;
  width: 65%;
  margin: 0 auto;
}

#footer {
  position: fixed;
  width: 100%;
  height: 7em;
  bottom: 0em;
  z-index: 1;
  text-align: center;
  background: radial-gradient(ellipse 80% 4em at 50% -2.25em, transparent 100%, 0%, black), radial-gradient(ellipse 80% 4em at 50% -2.25em, transparent 60%, black);
  background-color: transparent;
}

/*.centered {
  text-align: center;
}*/

.centered {
  margin:auto;
  left:0;
  right:0;
  text-align: center;
}

.centered img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin:auto;
  left:0;
  right:0;
}